<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo.neoveticare">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Dialogboxofreport"></activity>
        <activity android:name=".Notification" />
        <activity android:name=".About_us" />
        <activity android:name=".layout5" />
        <activity android:name=".Ratetheapp" />
        <activity android:name=".Help" />
        <activity android:name=".manageUserndlistofalladmin" />
        <activity android:name=".privaceandsecurity" />
        <activity android:name=".Adminactivity" />
        <activity android:name=".firstActivity" />
        <activity
            android:name=".navigationdrawer"
            android:label="@string/title_activity_navigationdrawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".choosetimebyparentafedone" />
        <activity android:name=".layout4" />
        <activity android:name=".layout3" />
        <activity android:name=".layout2" />
        <activity android:name=".layout1" />
        <activity android:name=".displayProfile" />
        <activity android:name=".Welcome" />
        <activity
            android:name=".splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".imageUploadsenior" />
        <activity android:name=".CareTakerDescription" />
        <activity android:name=".RetreivedataActivity" />
        <activity android:name=".cartakerRegistrationActivity" />
        <activity android:name=".cartakerLoginActivity" />
        <activity android:name=".naniesUpload" />
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".ImageFirebaseUploadDemo" />
        <activity android:name=".ForgotActivity" />
        <activity android:name=".Select_Category" />
        <activity android:name=".ContactActivity" />
        <activity android:name=".TabActivity" />
        <activity android:name=".MapsActivity" />
        <activity android:name=".MessageActivity" />
        <activity android:name=".MessagesActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".FilterActivity" />
        <activity android:name=".AdminContactActivity" />
        <activity android:name=".HireActivity" />
        <activity android:name=".RatingActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".PaymentActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>